#activity {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	gap: 10px;
	align-items: center;
	padding: 20px;
	img {
		height: 90px;
	}

	h3 {
		font-size: 20px;
	}
	#activity_text p {
		margin: unset;
	}
}
