@import url('https://fonts.googleapis.com/css2?family=Mukta+Mahee:wght@200;300;400;500;600;700;800&display=swap');
:root {
  --background: #fff;
  --background-080: rgba(255, 255, 255, 0.8);
  --background-light: #f5f5fa;
  --background-light-080: rgba(245, 245, 250, 0.8);
  --background-3: #e0e0ff;
  --background-3-080: rgba(224, 224, 255, 0.8);

  --button-shadow: var(--background) 5px 5px 10px;
  --button-white: #000000;
  --button-white-hover: #202020;
  --button-white-background: #00000033;

  --shadow: #cfb5ff33 5px 5px 10px;
  --shadow-large: #cfb5ff33 10px 10px 20px;
  --shadow-neo-light: var(--background) -5px -5px 10px,
    var(--background-3-080) 5px 5px 10px,
    inset var(--background-3-080) -5px -5px 10px,
    inset var(--background) 5px 5px 10px;
  --shadow-neo-light-small: var(--background) -3px -3px 6px,
    var(--background-3-080) 3px 3px 6px,
    inset var(--background-3-080) -3px -3px 6px,
    inset var(--background) 3px 3px 6px;
  --shadow-neo-light-inverted: var(--background) 5px 5px 10px,
    var(--background-3-080) -2px -2px 5px,
    inset var(--background-3-080) 5px 5px 10px,
    inset var(--background) -5px -5px 10px;

  --consent-accept-background: #6a1aff;
  --consent-decline-background: #efd81d;

  --text: #000000;
  --text-rgb: 0, 0, 0;
  --black: #ffffff;

  &.dark-mode {
    --background: #0e0323;
    --background-080: rgba(14, 3, 35, 0.8);
    --background-light: #160833;
    --background-light-080: rgba(22, 8, 51, 0.8);
    --background-3: #2b0f61;
    --background-3-080: rgba(43, 15, 97, 0.8);

    --button-shadow: var(--background) 5px 5px 10px;
    --button-white: #ffffff;
    --button-white-hover: #dfdfdf;
    --button-white-background: #ffffff33;

    --shadow: #6a1aff33 5px 5px 10px;
    --shadow-large: #6a1aff33 10px 10px 20px;
    --shadow-neo-light: var(--background) 5px 5px 10px,
      var(--background-3-080) -5px -5px 10px,
      inset var(--background-3-080) 5px 5px 10px,
      inset var(--background) -5px -5px 10px;
    --shadow-neo-light-small: var(--background) 3px 3px 6px,
      var(--background-3-080) -3px -3px 6px,
      inset var(--background-3-080) 3px 3px 6px,
      inset var(--background) -3px -3px 6px;
    --shadow-neo-light-inverted: var(--background) -5px -5px 10px,
      var(--background-3-080) 2px 2px 5px,
      inset var(--background-3-080) -5px -5px 10px,
      inset var(--background) 5px 5px 10px;

    --consent-accept-background: #6a1aff;
    --consent-decline-background: #efd81d;

    --text: #ffffff;
    --text-rgb: 255, 255, 255;
    --black: #000000;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  transition: color 0.3s, background-color 0.3s, box-shadow 0.3s,
    border-color 0.3s;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  color: var(--text);
  background: var(--background);
  font-family: "Nunito Sans", "Lucida Sans", "Lucida Sans Regular",
    "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
}

body:has(.overlay) {
  overflow: hidden;
}

.background_light {
  background-color: var(--background-light);
}

img,
svg {
  max-width: 100%;
  max-height: 100%;
  aspect-ratio: auto;
  color: inherit;
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: inherit;
  font-family: "Mukta Mahee", Impact, Haettenschweiler, "Arial Narrow Bold",
    sans-serif;
}

h1 {
  font-size: 75px;
  font-weight: 600;
  line-height: 40px;
}

h2 {
  font-size: 64px;
  font-weight: 700;
}

h3 {
  font-size: 30px;
  font-weight: 600;
  letter-spacing: 2px;
}

p,
li {
  font-size: 15px;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

ol,
ul {
  padding-left: 20px;
}

.bold {
  font-weight: 800;
}

.container {
  width: 1400px;
  max-width: 100%;
  margin: auto;
  padding: 30px 50px;
}

.clickable {
  cursor: pointer;
}

.card {
  border-radius: 24px;
  padding: 10px;
  background-color: var(--background-080);
  box-shadow: var(--shadow);
}

.card.background_light {
  background-color: var(--background-light-080);
}

.card.selected {
  box-shadow: var(--shadow-large);
}

.split {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
}

.center {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  gap: 50px;
  text-align: center;
}

.left {
  justify-content: left;
  text-align: left;
}

.margin {
  margin: 24px;
}

.margin-top {
  margin-top: 24px;
}

.margin-bottom {
  margin-bottom: 24px;
}

.margin-left {
  margin-left: 24px;
}

.margin-right {
  margin-right: 24px;
}

.image_container {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button_container {
  gap: 25px;
  margin: 20px 0px;
}

.closed {
  display: none;
}

.opened {
  display: block;
}

#hero {
  min-height: 40vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 1400px) {
  h1 {
    font-size: 5.5vw;
  }

  h2 {
    font-size: 5vw;
  }

  h3 {
    font-size: 2vw;
  }

  p,
  li {
    font-size: 13px;
  }

  a.button {
    font-size: 2.5vw;
  }
}

@media screen and (max-width: 800px) {
  h1 {
    font-size: 40px;
  }

  h2 {
    font-size: 30px;
  }

  h3 {
    font-size: 16px;
  }

  .container {
    padding: 30px 30px;
  }
}
