RewriteEngine On

# 1. Rediriger les appels /api vers le sous-dossier api/public
# [L] signifie que c'est la dernière règle si elle match
RewriteRule ^api/(.*)$ api/public/index.php [QSA,L]

# 2. Gestion du front Next.js (si export statique)
# Si le fichier .html existe, on le sert
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}.html -f
RewriteRule ^(.*)$ $1.html [L]