#page-home #hero {
  height: 90vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 48px;
  margin-bottom: 0;

  & > * {
    flex: 1;
  }

  .container {
    padding: 32px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 8px;
    max-width: 500px;
  }
  h2 {
    font-size: 0.8rem;
    color: var(--text-reduced);
    text-transform: uppercase;
  }
  p {
    color: var(--text-reduced);
  }
}
