#skills h3 {
  text-align: center;
}

#skills img {
  height: 60px;
  width: 60px;
  max-width: 8vw;
  aspect-ratio: 1/1;
  object-fit: contain;
}

#skills > .container > .split {
  align-items: stretch;
  gap: 5px;
  justify-content: space-around;
}

#skills > .container > .split > div {
  width: 20vw;
}

#skills .split.left {
  gap: 10px;
  margin-bottom: 20px;
}

#skills .separator {
  width: 2px !important;
  background-color: var(--text);
  border-radius: 10px;
  flex-shrink: 0;
}

#skills .card {
  background-color: var(--background-080);
  backdrop-filter: blur(10px);
  overflow: hidden;
  box-shadow: var(--shadow-neo-light-small);
  padding: 20px;
}

#skills h2,
#skills h3 {
  margin-bottom: 20px;
}

@media screen and (max-width: 900px) {
  #skills > .container > .split {
    flex-direction: column;
    gap: 20px;
  }

  #skills .separator {
    height: 1px;
    width: 100% !important;
  }

  #skills > .container > .split > div {
    width: 100%;
  }

  #skills .skills {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
}

@media screen and (max-width: 600px) {
  #skills .split.left {
    margin-bottom: 0;
    transition: gap 0.3s;
    gap: 0px;
    aspect-ratio: 1/1;
  }

  #skills img {
    height: 60px;
    width: 60px;
    max-width: 13vw;
  }

  #skills h4 {
    width: 0px;
    overflow: hidden;
    transition: width 0.3s;
  }
}
