#hero {
    .container.split {
        gap : 50px;
        padding-top : 100px;
        padding-bottom: 100px;
    }

    #hero_text {
        flex: 4;
    }
    #hero_image {
        flex: 3;
        max-height: 100%;
    }

    #hero_image img {
        border-radius: 1000px;
    }

    a.button {
        height: 100%;
        font-size: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
    }

    .button_container {
        height: 60px;
    }

    h2 {
        font-size: 48px;
        font-weight: 300;
    }

    p {
        margin-top: 40px;
    }

    @media screen and (max-width: 1400px) {
        h2 {
            font-size: 3vw;
        }

        .button_container {
            height: 50px;
        }
    }

    @media screen and (max-width: 1000px) {
        .button_container {
            height: 40px;
        }
    }

    @media screen and (max-width: 800px) {
        h2 {
            font-size: 24px;
        }

        .button_container {
            height: 35px;
            margin: 10px 0px
        }

        .button_container #github {
            display: none;
        }

        p {
            margin-top: 20px;
        }
    }

    @media screen and (max-width: 500px) {
        > .container.split {
            flex-direction: column-reverse;
            padding-top: 20px;
        }

        .button_container #github {
            display: none;
        }
    }
}