.project-slider-card {
  position: relative;
  transition: transform 0.2s ease-in-out;

  &:hover {
    transform: scale(1.1);
  }
}

@media screen and (max-width: 1200px) {
  .project-slider-card {
    position: absolute;
    top: 50%;
    transition: none;
    transform: unset;
    translate: 0 -50%;
    width: fit-content;

    &.active {
      transform: scale(1.1);
      z-index: 1;
    }
  }
}
