a.button {
  padding: 10px;
  border-radius: 10px;
  height: 50px;
  font-size: 32px;
  font-weight: 400;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  gap: 10px;
  border: none;
  text-decoration: none;
  box-shadow: var(--shadow);
  background: var(--background-light);
  border: var(--text) 1px solid;
  cursor: pointer;
}

a.button:hover {
  text-decoration: none;
}

a.button span {
  font-size: inherit;
  font-weight: inherit;
  color: inherit;
}

a.button img,
a.button svg {
  height: 100%;
  width: unset;
  object-fit: contain;
  stroke-width: 1.5px;
}

.button_background {
  height: 100%;
  margin-left: 8px;
  background-color: var(--background);
  border-radius: 10px;
  box-shadow: var(--button-shadow);
}

.button_background > a.button {
  transform: translate(-8px, -5px);
  transition: transform 0.2s ease-in-out;
  box-shadow: var(--shadow-neo-light);
  border: none;
}

.button_background > a.button.white,
.button_background > a.button.white:hover,
.button_background > a.button.white:active {
  box-shadow: unset;
}

.button_background > a.button:hover {
  transform: translate(-4px, -2.5px);
  box-shadow: var(--shadow-neo-light-small);
}

.button_background > a.button:active {
  transform: translate(0px, 0px);
  box-shadow: var(--shadow-neo-light-inverted);
}

a.button.white {
  background-color: var(--button-white);
  color: var(--black);
}

a.button.white:hover {
  background-color: var(--button-white-hover);
}
