.overlay_background {
  position: fixed;
  top: 80px;
  left: 0;
  width: 100vw;
  height: calc(100vh - 80px);
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.overlay {
  background-color: var(--background);
  width: 80%;
  height: 90%;
  padding: 0px;
  border-radius: 10px;
  overflow: scroll;
}

.overlay h2 {
  font-weight: 600 !important;
  line-height: 100px;
}
