#hero {
    .container.split {
        gap : 50px;
        padding-top : 100px;
        padding-bottom: 100px;
    }

    #hero_text {
        flex: 4;
    }
    #hero_image {
        flex: 3;
        max-height: 100%;
    }

    #hero_image img {
        border-radius: 1000px;
    }

    h2 {
        font-size: 48px;
        font-weight: 300;
    }

    p {
        margin-top: 40px;
    }

    @media screen and (max-width: 1400px) {
        h2 {
            font-size: 3vw;
        }
    }
}