name: Deploy to OVH

on:
  push:
    branches:
      - main

jobs:
  build-and-deploy-frontend:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20'

      - name: Install dependencies
        run: npm ci

      - name: Build Next.js application
        run: npm run build

      - name: SFTP Deploy to OVH
        uses: wlixcc/sftp-upload-action@master
        with:
          server: ${{ secrets.SFTP_HOST }}
          username: ${{ secrets.SFTP_USER }}
          password: ${{ secrets.SFTP_PASSWORD }}
          local_path: './build/*'
          remote_path: '/www/'
          sftp_only: true

  deploy-backend:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: '8.4'
          extensions: mbstring, xml, pdo, pgsql, pdo_pgsql

      - name: Install Composer dependencies
        run: cd api && composer install --no-dev --optimize-autoloader

      - name: add Env.php
        run: echo "${{ secrets.ENV_PHP_CONTENT }}" > api/core/Env.php

      - name: SFTP Deploy to OVH
        uses: wlixcc/sftp-upload-action@master
        with:
          server: ${{ secrets.SFTP_HOST }}
          username: ${{ secrets.SFTP_USER }}
          password: ${{ secrets.SFTP_PASSWORD }}
          local_path: './api/*'
          remote_path: '/www/api/'
          sftp_only: true
