name: Deploy to OVH

on:
  push:
    branches:
      - main
      - ci-cd

jobs:
  build-and-deploy-frontend:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20'

      - name: Install dependencies
        run: npm ci

      - name: Build Next.js application
        run: npm run build

      - name: SFTP Deploy to OVH
        uses: SamKirkland/FTP-Deploy-Action@v4.3.6
        with:
          server: ${{ secrets.SFTP_HOST }}
          username: ${{ secrets.SFTP_USER }}
          password: ${{ secrets.SFTP_PASSWORD }}
          port: 21
          protocol: ftp
          local-dir: ./build/
          server-dir: ./www/
          timeout: 120000
          exclude: |
            **/.git**
            **/node_modules/**
            **/.github/**

  deploy-backend:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: '8.4'
          extensions: mbstring, xml, pdo, pgsql, pdo_pgsql

      - name: Install Composer dependencies
        run: cd api && composer install --no-dev --optimize-autoloader

      - name: add Env.php
        run: |
          cat << EOF > api/core/Env.php
          ${{ secrets.ENV_PHP_CONTENT }}
          EOF

      - name: SFTP Deploy to OVH
        uses: SamKirkland/FTP-Deploy-Action@v4.3.6
        with:
          server: ${{ secrets.SFTP_HOST }}
          username: ${{ secrets.SFTP_USER }}
          password: ${{ secrets.SFTP_PASSWORD }}
          port: 21
          protocol: ftp
          local-dir: ./api/
          server-dir: ./www/api/
          timeout: 120000
          exclude: |
            **/.git**
            **/node_modules/**
            **/.github/**
